<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <!-- Events Title -->
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"><h1>Travel Trip Wish List!</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 indexAddEvents"><%= link_to 'Add New Trip', new_trip_path, class: "redBtn btn-block text-center" %></div>

  </div>

  <!-- Events Listing -->
<div class="row">

  <% @trips.each do |trip| %>

  
  <div class ="col-lg-4 col-md-4 col-sm-12 col-xs-12">

  <div class="row">  
    <div class="indexTripCard shadowEffect" >

      <!-- image -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
     
          <%= image_tag(trip.imageurl, class: "img-responsive text-center") if trip.imageurl.present? %>,
       
      </div>

      <!-- events description -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        
        <div class="indexTripTitle"><%= trip.countryname %></div>
        <div class="indexTripDistance">200 km away</div>
        <div class="indexTripDate"><%= trip.datefrom.strftime("%d %b %Y") %> - <%= trip.dateto.strftime("%d %b %Y") %> </div> 

        

        <div class="indexTripLinks">     
          <%= link_to 'View', trip, class:"indexEventLinksBtn" %> &nbsp;
          <%= link_to 'Edit', edit_trip_path(trip), class:"indexEventLinksBtn" %> &nbsp;
          <%= link_to 'Delete', trip, class:"indexEventLinksBtn", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>  
      </div>
     </div> 
    </div> 

  </div>

  <% end %>

</div>

</div>

